<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>News aggregation service</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="Yevitchenko Victor"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.js}"></script>
    <link th:src="@{/webjars/datatables/1.10.16/css/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:src="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <style>
        .even.selected td {
            background-color: rgb(0,170,0); !important; /* Add !important to make sure override datables base styles */
        }

        .odd.selected td {
            background-color: rgb(0,170,0); !important; /* Add !important to make sure override datables base styles */
            /*background-color: rgb(0,0,230); !important; !* Add !important to make sure override datables base styles *!*/
        }
    </style>
</head>
<body>
<label>Add news feed</label>
<!--<button id="updateDB" class="btn btn-sm btn-primary " onclick="addNewsResource()">-->
<!--<i class="glyphicon glyphicon-plus"></i>-->
<!--</button>-->
<br/>
<form method="POST" enctype="multipart/form-data" th:action="@{/news/addResource}">
    <table>
        <tr>
            <td>Url of news feed (RSS or html):</td>
            <td><input type="url" name="url"/></td>
        </tr>
        <tr>
            <td>Rule for parsing:</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload/Add"/></td>
        </tr>
    </table>
</form>

<h2>News list</h2>
<table id="table" class=" table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Source</th>
    </tr>
    </thead>
</table>
<div id="article_content">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        const table = $('#table').DataTable({
            processing: true,
            serverSide: true,
            pagingType: "full_numbers",
            ordering: true,
            ajax: {
                type: "POST",
                url: /*"[[@{//news/findTitles}]]"*/"/news/findTitles",
                data: function (d) {
                    var table = $('#table').DataTable();
                    d.page = (table !== undefined) ? table.page.info().page : 0;
                    d.size = (table !== undefined) ? table.page.info().length : 10;
                    d.title = d.search.value;
                    d.sortField = d.columns[d.order[0].column].data;
                    d.sortDir = d.order[0].dir;
                },
                "dataSrc": function (json) {
                    json['recordsTotal'] = json['totalElements'];
                    json['recordsFiltered'] = json['totalElements'];
                    return json.content;
                }
            },
            columns: [
                {data: 'id', orderable: true, visible: false},
                {data: 'title', orderable: true},
                {data: 'author', orderable: true},
                {data: 'date', orderable: true}
            ]
        });

        $('#table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        table.on('click', 'td', function (e) {
            const id = table.row($(this).parents('tr')).data()["id"];

            $.post({
                url: "news/getArticle",
                data: {id: id}
            }).done(function (data) {
                document.getElementById("article_content").innerHTML = data;
            });
        });

    });


</script>

<footer class="navbar-fixed-bottom row-fluid">
    <div id="information">
        Developed by Yevitchenko Victor. 2018г
    </div>
</footer>
</body>
</html>
