<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Сервис агрегации новостей</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="Yevitchenko Victor"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.js}"></script>
    <link th:src="@{/webjars/datatables/1.10.16/css/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:src="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap4.css}" rel="stylesheet"/>
</head>
<body>
<label>Добавить ресурс новостей</label>
<button id="updateDB" class="btn btn-sm btn-primary " onclick="addNewsResource()">
    <i class="glyphicon glyphicon-plus"></i>
</button>
<br/>
<form method="POST" enctype="multipart/form-data" th:action="@{/news/addResource}">
    <table>
        <tr>
            <td>Url of news feed (RSS or html):</td>
            <td><input type="url" name="url"/></td>
        </tr>
        <tr>
            <td>Rule for parsing:</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload"/></td>
        </tr>
    </table>
</form>

<h2>Список новостей</h2>
<table id="table" class=" table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата</th>
        <th>Источник</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    // $(document).ready(function () {
    //     $('#table').DataTable({
    //         processing: true,
    //         serverSide: true,
    //         pagingType: "full_numbers",
    //         ordering: true,
    //         ajax: {
    //             type: "POST",
    //             url: "",
    //             "dataSrc": function (json) {
    //                 json['recordsTotal'] = json['totalElements'];
    //                 json['recordsFiltered'] = json['totalElements'];
    //                 return json.content;
    //             }
    //         },
    //     });
    // });


</script>

<footer class="navbar-fixed-bottom row-fluid">
    <div id="information">
        Создано Евитченко Виктором. 2018г
    </div>
</footer>
</body>
</html>
